<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How To Play</title>
</head>
<body>

<h2>How To Play</h2>
<h4>General Rules</h4>
<p>Among sheep, there is a wolf out for blood.</p>
<p>Against one dedicated 'wolf', 'sheep' players are given a codeword. Their goal is to smoke out the wolf, by saying related words.</p>
<p>The wolf, though, has an inkling of what the word might be. If they figure out the exact word, they blend in and the sheep are doomed!</p>

<h4>Starting Up</h4>
<p>All players should start on the main page.</p>
<p>When everyone is there, the game can begin by hitting the start button.</p>
<p>Players are then assigned to be the <b>Wolf</b> or one of many <b>Sheep.</b></p>

<h4>Sheep Players</h4>
<p>If the following page shows that you were made a sheep, it will also show the "Target Word."</p>
<p>You and the other sheep are trying to figure out who the wolf is by saying words related to the Target Word.</p>
<p>Players who have the word should be able to describe it easily; don't make it too obvious what the word is though!</p>

<h4>Wolf Player</h4>
<p>If the following page shows that you were made the wolf, it will also show a "Hint Word."</p>
<p>Your goal is to blend in with the sheep, by guessing the target word using the related words the sheep say.</p>
<p>The Hint Word is useful when the Wolf is the first one to go, and acts as the "Sheep's Clothes."</p>

<h4>Win Condition</h4>
<p>Any player, on their turn, may accuse another player of being the Wolf.</p>
<p>A vote then occurs; if the majority of players agree, the accusation goes through.</p>
<p>The accused may not vote. If it is a tie or more than half the players disagree, the game continues.</p>
<p>If the accusation is correct, the sheep win. If the accusation is incorrect, the wolf wins.</p>
<p>The wolf may also, on their turn, admit they are the wolf and guess the Target Word.</p>
<p>If they get the Target Word correct, the wolf wins, but if they get it wrong, the sheep wins.</p>

</body>
</html>